*{
    margin: 0;
    padding: 0;
}
.togle-icon{
    margin-top: 10px;
    margin-right: 25px;
}

.main-nav{

    display: flex;
    grid-template-columns: 10rem 1fr 2fr;
    margin: 25px;
}
.mane-text{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 36px;
    gap: 5px;
    font-weight: bold;
    font-size: larger;
}
.mane-text span{
    color: red;
}

.menu-btn{
    display: flex;
    gap: 33px;
    margin-left: 107px;
}
.menu-btn button{
    width: 82px;
    background-color: red;
    color: #fff;
    font-weight: bold;
    font-family: ui-sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 42px;

}
.menu-btn input{
    text-indent: 20px;
    color: black;
    border-radius: 4px;
}



